@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

 @theme{
    --font-caveat: Caveat Brush, "Sans-serif";
} 

@layer utilities {
  .grid-bg {
    background-image: 
      linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

    background-size: 40px 40px;
  }
  .diagonal-lines {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.05) 0px,
    rgba(255, 255, 255, 0.05) 5px,
    transparent 5px,
    transparent 5px
  );
}
}
