@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

 @theme{
    --font-caveat: Caveat Brush, "Sans-serif";
} 

@layer utilities {
  .grid-bg {
    background-image: 
      linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);

    background-size: 40px 40px;
  }
}
